language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - ree
env:
  - MATRIX_LIBRARY=gsl
  - MATRIX_LIBRARY=narray
  - MATRIX_LIBRARY=nmatrix
  - MATRIX_LIBRARY=matrix
matrix:
  exclude:
    - rvm: 1.8.7
      env: MATRIX_LIBRARY=nmatrix
    - rvm: ree
      env: MATRIX_LIBRARY=nmatrix
before_install:
  # https://github.com/SciRuby/nmatrix/wiki/Installation
  - sudo apt-get update -qq -y
  - sudo apt-get install -qq -y liblapack-dev libatlas-base-dev libatlas3gf-base
  # /usr/lib/libcblas.so and /usr/lib/libatlas.so already exists
  # http://stackoverflow.com/a/12029573/244258
  - curl -O http://mirror.veriportal.com/gnu/gsl/gsl-1.14.tar.gz
  - tar xzf gsl-1.14.tar.gz
  - cd gsl-1.14
  - ./configure
  - make
  - sudo make install
  # http://stackoverflow.com/a/15910419/244258
  - rvm rubygems 1.8.25
  - bundle
script:
  - bundle exec rake --trace
