sudo: false
language: ruby
cache: bundler
rvm:
  - 2.4
  - 2.5
  - 2.6
  - 2.7
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
      env: MATRIX_LIBRARY=gsl
    - rvm: ruby-head
      env: MATRIX_LIBRARY=narray
    - rvm: ruby-head
      env: MATRIX_LIBRARY=nmatrix
    - rvm: ruby-head
      env: MATRIX_LIBRARY=matrix
env:
  - MATRIX_LIBRARY=gsl
  - MATRIX_LIBRARY=narray
  - MATRIX_LIBRARY=nmatrix
  - MATRIX_LIBRARY=matrix
addons:
  apt:
    packages:
    - gsl-bin
    - libgsl0-dev
    # Installing ATLAS will install BLAS.
    - libatlas-dev
    - libatlas-base-dev
    - libatlas3-base
before_install:
  - bundle config build.nmatrix --with-lapacklib
  - export CPLUS_INCLUDE_PATH=$CPLUS_INCLUDE_PATH:/usr/include/atlas
